# ===== BUILD =====
/build/
/target/

# ===== IDE =====
.classpath
.project
.settings/
.idea/
*.iml

# ===== SERVERS =====
/Servers/

# ===== OS =====
desktop.ini
.DS_Store
Thumbs.db

# ===== BACKUP =====
backup_local/
/bin/
