# ===== Eclipse / IDE =====
.project
.classpath
.settings/
.metadata/
.recommenders/
.externalToolBuilders/
.factorypath

# ===== Build =====
build/
target/
bin/
*.class

# ===== Servers / Tomcat (Eclipse WTP) =====
Servers/
wtpwebapps/
.runtime/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
