<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bus" class="business.Bus"/>
    <bean id="onFoot" class="business.OnFoot"/>
    <bean id="boat" class="business.Boat"/>

    <bean id="transportSelector" class="business.TransportSelector">
        <property name="transports">
            <list>
                <ref bean="bus"/>
                <ref bean="onFoot"/>
                <ref bean="boat"/>
            </list>
        </property>
    </bean>

    <bean id="offerBuilder" class="business.OfferBuilder">
        <property name="transportSelector" ref="transportSelector"/>
    </bean>

</beans>
